body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a, nav ul li button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav ul li button.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #005a9e;
    color: white;
    cursor: pointer;
}

main {
    padding: 20px;
}

.featured-apps h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.app-card {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 100px;
    text-align: left;
}

.app-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 10px;
}

.app-card .app-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    flex-grow: 1;
}

.app-card h2 {
    height: 40px;
    font-size: 20px;
    margin: 0;
}
.app-card h3 {
    font-size: 18px;
    margin: 0;
}

.app-card button {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    align-self: flex-end;
}
.app-details span{
    margin-left: 0;
    height: auto;
    max-width: 200px;
    margin: 0;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button.active {
    background-color: #005a9e;
}

.pagination .ellipsis {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    opacity: 0.6;
    pointer-events: none;
}

.pagination .disabled {
    opacity: 0.6;
    pointer-events: none;
}